<div class="container">

    <div class="card">
        <div class="card-header row">
            <h3 class="col-auto">About Us</h3>
            <h3 class="col-auto"><i class="bi bi-award-fill"></i></h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione voluptate consectetur, nulla
                assumenda
                iusto ab unde perferendis mollitia distinctio sapiente reprehenderit, accusantium cupiditate harum
                nobis,
                maiores dolore hic. Dolore laboriosam possimus reprehenderit consequuntur, quo quae sunt temporibus
                optio,
                dolores voluptatum maxime cumque veniam iste, aliquam ea ut dolor facilis.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates laboriosam fugit perspiciatis enim
                porro
                a similique. Assumenda dolorum nostrum accusantium voluptatum exercitationem odio quisquam quo aperiam
                natus
                vitae, est neque placeat obcaecati aliquam enim maxime, doloribus a consequatur cum cumque quam!
                Consequuntur nulla nobis nihil odit magni repellendus optio et.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>