<div class="container">
    <div class="container mt-4">
        <div class="row">
            <!-- Card Section -->
            <div class="col-md-4 mb-4">
                <div [class]="class_bg_color" class="card h-100 shadow-sm">
                    <img [src]="imageSrc" class="card-img-top" alt="User Image" />
                    <div class="card-body">
                        <h5 class="card-title">{{id}}. {{firstName}} {{lastName}}</h5>
                        <p class="card-text">{{desc}}</p>
                        <a href="#" class="btn btn-primary btn-sm" (click)="View()">View</a>
                    </div>
                </div>
            </div>

            <!-- City Dropdown Section -->
            <div class="col-md-4 mb-4">
                <div class="form-group">
                    <label class="form-label">City (event binding):</label>
                    <select class="form-control mb-3" name="citydd" (change)="OnCityClick()">
                        <option *ngFor="let city of ['Surat','Mumbai','Chennai','Kolkata','Pune']" [value]="city">
                            {{city}}</option>
                    </select>

                    <label class="form-label">Selected City (two-way):</label>
                    <select class="form-control" [(ngModel)]="selectedCity" name="selectedcity">
                        <option *ngFor="let city of ['Surat','Mumbai','Chennai','Kolkata','Pune']" [value]="city">
                            {{city}}</option>
                    </select>

                    <div class="mt-2">Selected City: <strong>{{selectedCity}}</strong></div>
                </div>
            </div>

            <!-- Input Fields Section -->
            <div class="col-md-4 mb-4">
                <div class="form-group">
                    <label for="firstName" class="form-label mt-2">First Name</label>
                    <input class="form-control" type="text" [(ngModel)]="firstName" />

                    <label for="lastName" class="form-label mt-2">Last Name</label>
                    <input class="form-control" type="text" [(ngModel)]="lastName" />

                    <label for="desc" class="form-label mt-2">Description</label>
                    <textarea class="form-control" rows="4" [(ngModel)]="desc"></textarea>
                </div>
            </div>
        </div>

        <hr class="my-4" />
    </div>


    <div class="row m-8">
        <div class="col-3 m-4">
            <div class="row">
                <button class="col-4 btn btn-primary m-2" type="submit" (click)="showdiv()">Show
                    div</button>
                <button class="col-4 btn btn-secondary m-2" type="submit" (click)="hidediv()">Hide
                    div</button>
                <span class="col-6"><label for="hidedimessage">{{divHiddenMsg}}</label></span>
            </div>
            <div class="bg-body bg-danger" style="color: blueviolet; border: 2px solid black;" *ngIf="isDivHide">
                <h1>Hide the div </h1>
            </div>
        </div>
        <div class=" col-3 m-4">
            <div *ngIf="num1===num2">
                <h3>Make n1 === n2</h3>
            </div>
            <p> This div will show when num1===num2</p>
            <input class="form-control" type="text" name="" id="" placeholder="num1" [(ngModel)]="num1">
            <input class="form-control" type="text" name="" id="" placeholder="num2" [(ngModel)]="num2">
        </div>

    </div>
    <div class="container py-4">
        <div class="row justify-content-center mb-4">
            <!-- Tabs Component -->
            <div class="col-12 text-center">
                <app-tabs [tabList]="['CityList', 'Employee Table']" (onTabClick)="onTabChange($event)"></app-tabs>
            </div>
        </div>

        <div class="row justify-content-center">
            @if (currentTab === 'CityList') {
            <!-- City List Column -->
            <div class="col-md-6 col-lg-4">
                <h6 class="mb-3">City List</h6>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let item of cityList">{{ item }}</li>
                </ul>
            </div>
            }
            @else {
            <!-- Employee Table Column -->
            <div class="col-12">
                <h5 class="mb-3">Attendance is a reusable component. Check the reusable component section.</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>Sr No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>City</th>
                                <th>Contact No</th>
                                <th>Attendance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of empArray; let srno = index">
                                <td>{{ srno + 1 }}</td>
                                <td>{{ item.fname }}</td>
                                <td>{{ item.lname }}</td>
                                <td>{{ item.city }}</td>
                                <td>{{ item.contactno }}</td>
                                <td>
                                    <app-progressbar [progressValue]="item.attendence">%</app-progressbar>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
    </div>

</div>